<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69380599834-gmqjmke6kqv1lr1qvnnoj6c35tqasgja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69380599834-gmqjmke6kqv1lr1qvnnoj6c35tqasgja</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>69380599834-30dms2lkucthg1kbla8009gvlnpdss0n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8bcbju81cfhervS33FUqYx-7DozpbuAY</string>
	<key>GCM_SENDER_ID</key>
	<string>69380599834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.beauty.online</string>
	<key>PROJECT_ID</key>
	<string>beauty-online-f51ac</string>
	<key>STORAGE_BUCKET</key>
	<string>beauty-online-f51ac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69380599834:ios:c9a2aa66ace76ebf92a1a3</string>
</dict>
</plist>